<form [formGroup]="personalDetailsForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="firstName">Meno:</label>
    <input
      id="firstName"
      name="firstName"
      type="text"
      formControlName="firstName"
    />
  </div>

  <div>
    <label for="lastName">Priezvisko:</label>
    <input
      id="lastName"
      name="lastName"
      type="text"
      formControlName="lastName"
    />
  </div>

  <div>
    <label for="personalIndentificationNumber">Rodné číslo:</label>
    <input
      id="personalIndentificationNumber"
      name="personalIndentificationNumber"
      type="text"
      formControlName="personalIndentificationNumber"
    />
  </div>

  <div>
    <label for="country">Štát:</label>
    <select formControlName="country" id="country" name="country">
      <option value="sk">Slovensko</option>
      <option value="cz">Česko</option>
    </select>
  </div>

  <div>
    <label for="city">Mesto:</label>
    <input id="city" name="city" type="text" formControlName="city" />
  </div>

  <div>
    <label for="email">E-mail:</label>
    <input id="email" name="email" type="email" formControlName="email" />
  </div>

  @if (firstNameIsInvalid) {
  <div class="error-message">
    <p>Krstné meno je povinné</p>
  </div>
  } @if (lastNameIsInvalid) {
  <div class="error-message">
    <p>Priezvisko je povinné</p>
  </div>
  } @if (emailIsInvalid) {
  <div class="error-message">
    <p>Neplatný formát e-mailu.</p>
  </div>
  } @if(personalIndentificationNumberIsInvalid){
  <div class="error-message">
    <p>Osoba musí mať minimálne 18 rokov</p>
  </div>
  }

  <button type="submit">Pokračovať</button>
</form>
