.flex-center-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.flex-container {
  display: flex;
}

.booking-date-and-slots {
  background-color: #FFFFFF;
}

.mdc-card {
  min-height: 370px;
  min-width: 300px;
  max-width: 300px;
}

::ng-deep .available-date .mat-calendar-body-cell-content {
  border: 1px solid #0ba13b;
}

::ng-deep
  .available-date.mat-calendar-body-active
  .mat-calendar-body-cell-content.mat-focus-indicator.mat-calendar-body-selected {
  background-color: #0ba13b;
  color: white;
}

.time-slots-card {
  display: flex;
  flex-direction: column;
}

.mat-mdc-radio-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mat-mdc-radio-button {
  width: 100px;
  background-color: #0ba13b;
  padding: 10px;
  border-radius: 100px;
  margin: 5px;
}

button.submit-timeSlot {
  background-color: #0ba13b;
  color: white;
  float: right;
}
