<app-header>
  <img src="first_step.jpg" alt="first_step" id="first_step" />
</app-header>
<form [formGroup]="bookingForm" (ngSubmit)="onSubmit()">
  <div class="flex-center-container">
    <h1>Doprajte si druhý názor od XX v Nemocnici Bory</h1>
    <p>
      Vyberte si termín na XX-minútovú konzultáciu<br />
      za poplatok a náš odborník zhodnotí váš zdravotný stav <br />
      a odporučí spôsob liečby.
    </p>
    <br />
    <div *ngIf="isLoading" class="p-4 text-center">
      <mat-spinner></mat-spinner>
      <p>Loading available dates...</p>
    </div>

    <div *ngIf="!isLoading" class="flex-container booking-date-and-slots">
      <div class="booking-calendar">
        <mat-card class="inline-calendar-card">
          <mat-calendar
            #calendar
            [dateClass]="dateClass"
            [selected]="selectedDate"
            (selectedChange)="onDateSelected($event)"
          >
          </mat-calendar>
        </mat-card>
      </div>
      <div class="time-slots">
        <mat-card class="time-slots-card">
          <h3>Dostupné časy</h3>

          <mat-radio-group formControlName="selectedTimeSlot">
            <mat-radio-button *ngFor="let slot of timeSlots" [value]="slot">
              <span class="slot-time">{{ slot.time }}</span>
            </mat-radio-button>
          </mat-radio-group>
        </mat-card>
      </div>
    </div>
  </div>
  <button
    class="submit-button"
    mat-flat-button
    type="submit"
    [disabled]="!bookingForm.valid"
  >
    Pokračovať
  </button>
</form>
