/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.page-wrapper {
    display: flex;
    justify-content: center;
  }
  
.responsive-container {
    max-width: 1200px;
    width: 100%;
    padding: 2rem;
}

.flex-center-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.flex-container {
  display: flex;
}

body {
  color: #033F75;
}

button.submit-button {
  background-color: #0ba13b;
  color: white;
  float: right;
}

.mat-mdc-unelevated-button:not(:disabled) {
  background-color: #0ba13b !important;
  color: white;
  float: right;
}

.mat-mdc-radio-button {
  cursor: pointer;
}

.mat-mdc-radio-button .mdc-radio {
  display: none !important;
}

.mat-mdc-radio-button .mdc-label {
  cursor: pointer;
}